@import '../../../colors';

@media (max-width: 991px) {
  .post-title .options .option-button.compare-view {
    display: none !important;
  }
  .post-title {
    padding: 10px 25px !important;
    span.title {
      font-size: 20px !important;
    }
  }
  .post-description {
    padding: 20px 25px !important;
    font-size: 16px !important;
  }
}

:host {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-shadow: 0 3px 10px map-get($colors, shadow);
  background-color: map-get($colors, gray-dark);
  margin-bottom: 50px;
  &:last-of-type {
    margin-bottom: 0;
  }
  img {
    user-select: none;
  }
  .fade-view {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    img.image {
      width: 100%;
      height: auto;
      &.before {
        position: absolute;
        opacity: 0;
        transition: opacity .25s ease-in-out;
        cursor: pointer;
        &.show {
          opacity: 1;
        }
      }
    }
  }
  .compare-view {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    cursor: ew-resize;
    img.image {
      width: 100%;
      height: auto;
    }
    .img-crop {
      user-select: none;
      width: 50%;
      height: 100%;
      position: absolute;
      overflow: hidden;
      background-size: auto 100%;
      border-right: 3px solid map-get($colors, accent);
    }
  }
  .post-description {
    display: flex;
    padding: 20px 40px;
    font-size: 18px;
  }
  .post-title {
    width: 100%;
    display: flex;
    padding: 10px 40px;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    background-color: map-get($colors, gray-darker);
    span.title {
      font-size: 22px;
      font-weight: 700;
      overflow-x: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    span.options {
      display: flex;
      span.option-button {
        cursor: pointer;
        height: 60px;
        width: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        svg {
          height: 32px;
          width: 32px;
        }
        &.selected path {
          fill: map-get($colors, accent);
        }
        path {
          fill: map-get($colors, text-light);
          transition: fill .25s ease-in-out;
        }
      }
    }
  }
}
