$colors: (
  text-light: #fff,
  accent: #27A9F4,
  accent-dark: #1F87D1,
  gray-light: #737B80,
  gray-medium: #2C2F30,
  gray-dark: #222526,
  gray-darker: #1E2021,
  shadow: rgba(0, 0, 0, .15),
  error: #F42727
);
